<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.familygem"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5341101936519197~3158501711"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Facciata"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="tarombo.siboro.org"
                    android:pathPrefix="/tarombo"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecoverTreesActivity"
            android:exported="true"
            android:label="@string/recover_trees"
            android:parentActivityName=".Opzioni"></activity>
        <activity
            android:name=".AddCollaboratorActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ContributorsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".CompareChangesActivity"
            android:exported="true" />
        <activity
            android:name=".ChangeProposalActivity"
            android:exported="false"
            android:label="@string/change_proposals"
            android:parentActivityName=".Alberi" />
        <activity
            android:name=".ReviewChangesActivity"
            android:parentActivityName=".CompareChangesActivity" />
        <activity
            android:name=".Alberi"
            android:launchMode="singleTask" />
        <activity
            android:name=".AlberoNuovo"
            android:label="@string/new_tree"
            android:parentActivityName=".Alberi" />
        <activity
            android:name=".Principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Opzioni"
            android:label="@string/settings"
            android:parentActivityName=".Alberi" />
        <activity
            android:name=".Lapide"
            android:label="@string/about"
            android:parentActivityName=".Opzioni" />
        <activity
            android:name=".InfoAlbero"
            android:label="@string/tree_info"
            android:parentActivityName=".Alberi" />
        <activity
            android:name=".importnode.SelectPersonActivity"
            android:exported="false"
            android:label="@string/person"
            android:parentActivityName=".Alberi"/>
        <activity
            android:name=".CartelleMedia"
            android:label="@string/media_folders" />
        <activity
            android:name=".Condivisione"
            android:label="@string/share_tree"
            android:parentActivityName=".Alberi" />
        <activity
            android:name=".Compara"
            android:label="@string/tree_with_news"
            android:parentActivityName=".Alberi" />
        <activity
            android:name=".Confrontatore"
            android:label="@string/import_news"
            android:parentActivityName=".Compara" />
        <activity
            android:name=".Conferma"
            android:label="@string/confirm_news"
            android:parentActivityName=".Compara" />
        <activity
            android:name=".DiagramSettings"
            android:label="@string/diagram_settings"
            android:parentActivityName=".Principal" />
        <activity
            android:name=".Individuo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".dettaglio.Famiglia" />
        <activity android:name=".dettaglio.Nome" />
        <activity android:name=".dettaglio.Archivio" />
        <activity android:name=".dettaglio.ArchivioRef" />
        <activity android:name=".dettaglio.Nota" />
        <activity android:name=".dettaglio.Fonte" />
        <activity android:name=".dettaglio.CitazioneFonte" />
        <activity android:name=".dettaglio.Immagine" />
        <activity android:name=".dettaglio.Evento" />
        <activity android:name=".dettaglio.Indirizzo" />
        <activity android:name=".dettaglio.Autore" />
        <activity android:name=".dettaglio.Estensione" />
        <activity android:name=".dettaglio.Cambiamenti" />
        <activity android:name=".ImageCropperActivity" />
        <activity
            android:name=".Lavagna"
            android:parentActivityName=".dettaglio.Immagine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditaIndividuo" />
        <activity
            android:name=".EditConnectorActivity"
            android:exported="false" />
    </application>

</manifest>